<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!-- Inicializacion para dataSource -->
	<bean id="dataSource"
	    class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	   <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://localhost:3306/curso" />
	    <property name="username" value="root" />
	    <property name="password" value="1111" />
	   
	</bean>


	<!-- Definicion para AdministradoresDAO -->
	<bean id="AdministradoresDAO" class="es.lucatic.peliculaslee.com.dao.AdministradoresDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para CategoriasDAO -->
	<bean id="CategoriasDAO" class="es.lucatic.peliculaslee.com.dao.CategoriasDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para CategoriasPorPeliculaDAO -->
	<bean id="CategoriasPorPeliculaDAO" class="es.lucatic.peliculaslee.com.dao.CategoriasPorPeliculaDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para ComentariosDAO -->
	<bean id="ComentariosDAO" class="es.lucatic.peliculaslee.com.dao.ComentariosDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para PeliculasDAO -->
	<bean id="PeliculasDAO" class="es.lucatic.peliculaslee.com.dao.PeliculasDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para UsuariosDAO -->
	<bean id="UsuariosDAO" class="es.lucatic.peliculaslee.com.dao.UsuariosDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- Definicion para ValoracionesDAO -->
	<bean id="ValoracionesDAO" class="es.lucatic.peliculaslee.com.dao.ValoracionesDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	

	
</beans>